<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Resume Power Kit</h1>
    <h2>Your go-to resources to make your resume super shiny!</h2>
    <form action="/api/powerverb" method="POST">
        <input name="userinput"></input>
        <button type="submit">Transform into power verb!</button>
    </form>
    <p>{{power_verb_list}}</p>
  </body>
</html>
